*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.row{
    text-align: center;
    margin-left: 160px;
    margin-top: -140px;
    margin-right: 40px;
}
.row1{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px 15px;
    margin-top: 25px;
}
.row2{
    background-color: #f69631;
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px 15px;
    margin-top: -10px;
}    
.row1 li{
    display: flex;
    justify-content: flex-start;
    color: black;
    font-style: normal;
    align-items: center;
    padding-right: 30px;
    font-weight: 700;
}
.row2 li{
    display: flex;
    justify-content: center;
    color: white;
    font-style: normal;
    padding-right: 30px;
    align-items: center;
    font-weight: 700;
}
#timkiem{
    margin-right: 80px;
}