Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.row{
    text-align: center;
    margin-left: 160px;
    margin-top: -140px;
    margin-right: 40px;
}
.row1{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px 15px;
    margin-top: 25px;
}
.row2{
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px 15px;
}  
#row2{
    background-color: #f69631;
    display: flex;
    justify-content: flex-start;
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
    padding: -20px;
    height: 60px;
}  
.row1 li{
    display: flex;
    justify-content: center;
    color: black;
    font-style: normal;
    align-items: center;
    padding-right: 30px;
    font-weight: 700;
}
.row2 li{
    display: flex;
    justify-content: center;
    color: white;
    font-style: normal;
    padding-right: 30px;
    align-items: center;
    font-weight: 700;
}
.input{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -100px;
}
#row1{
    display: flex;
    justify-content: flex-start;
    margin-top: -160px;
    margin-bottom: -20px;
}
#search{
    margin-left: 240px;
    height: 30px;
    border: 2px solid #cfd2e0;
    width: 250px;
}
.fa{
    padding: 10px 7px;
    font-size: 10px;
    width: 25px;
    text-align: center;
    text-decoration: none;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #cfd2e0;
    color: #f69631;
    border-radius: 5px;
    margin-left: -40px;
}
.fa-twitter{
    background: #cfd2e0;
    color: #f69631;
    border-radius: 5px;
    margin-left: 10px;
}
.fa-instagram{
    background: #cfd2e0;
    color: #f69631;
    border-radius: 5px;  
    margin-left: 10px;
}
.fa-youtube-play{
    background: #cfd2e0;
    color: #f69631;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
}
#icon{
    display: flex;
    justify-content: flex-end;
}
.icon{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 200px;
}
#row1 ul li:hover{
    cursor: pointer;
}    
#row2 ul li:hover{
    cursor: pointer;
}
#banner{
    margin-left: 40px;
    margin-right: 40px;
}
.banner1{
    margin-top: -35px;
}
.center{
    width: 1250px;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 310px 310px 310px 310px;
    grid-template-rows: 250px 250px ;
    grid-gap: 5px;
    justify-content: center;
} 
.item img{
    width: 310px;
    height: 300px;
}
.item{
    position: relative;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}
.item1 img{
    width: 625px;
    height: 500px;
}
.item2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.item2 img{
    width: 620px;
    height: 250px;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item3 img{
    width: 310px;
    height: 245px;
}
.item4 img{
    width: 305px;
    height: 245px;
}
.h2{
    color: white;
    position: absolute;
    left: 15px;
    bottom: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 200px;
} 
.h4{
    color: white;
    position: absolute;
    left: 15px;
    bottom: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
} 
.item2 h2{
    bottom: -10px;
}
.content2{
    margin-right: 40px;
    margin-left: 40px;
}
table{
    width: 96%;
    margin: 20px auto;
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    font-style: normal;
}

.tieude h2{
    color: #f69631;
    text-decoration: underline #f69631;
}

#item5 img{
    width: 200px;
    height: 150px;
    margin-right: 10px;
    margin-left: 0px;
}

#item5 {
    line-height: 10px;
}

.baiviet{
    display: flex;
    line-height: 30px;
    text-align: justify;
}

.baiviet li{
    border-bottom: 1px dotted grey;
    margin-right: 30px;
    font-style: normal;
    display: flex;
    justify-content: left;
    height: 70px;
    margin: 0px;
    padding: auto;
}

#cack img{
    width: 400px;
    height: 500px;
    margin-left: 60px;
}

.button-name {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 015) 07px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    top: 10px;
    left: 675px;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    }

 .button-name:focus {
     box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
       
.button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 02) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    }
   
.button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    }

.under{
    color: white;
    background-color: #383838;
    height: 250px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    list-style: none;
}
.under .fa-youtube-play{
    background: #292a30;
    color: #faf8f5;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
}
.under.fa-facebook {
    background: #292a30;
    color: #faf8f5;
    border-radius: 5px;
    margin-left: -40px;
}
.under .fa-twitter{
    background: #292a30;
    color: #faf8f5;
    border-radius: 5px;
    margin-left: 10px;
}
.under .fa-vimeo{
    background: #292a30;
    color: #faf8f5;
    border-radius: 5px;
    margin-left: 10px;
}
.under .fa-vk{
    background: #292a30;
    color: #faf8f5;
    border-radius: 5px;
    margin-left: -10px;
}

.end{
    color: #BEC3C8;
    background-color: #0d0d0d;
    width: 100%;
    align-items: center;
    padding: 20px 30px;
    height: 20px;
}



 


